.item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;

  .info-box {
    flex-shrink: 1;
    margin-right: 5px;

    .title {
      margin-bottom: 4px;
      height: 3em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .info {
      display: flex;
      align-items: center;

      .tag {
        flex-shrink: 0;
      }
      .date {
        flex-shrink: 1;
        font-size: 14px;
        color: #969799;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: fade;
      }
    }
  }

  .image-box {
    flex-shrink: 0;
    flex-basis: 30vw;
    background-color: #aaa;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
