.share-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 80px;
    right: 20px;
    background-color: #4CA663;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
